data:
  DIMENSION_TITLE: {{ dimension_idx[namespace] | map(attribute='spec') | map(attribute='site') | map(attribute='title') | sort | first }}
  DIMENSION_QUOTE: {{ dimension_idx[namespace] | map(attribute='spec') | map(attribute='site') | map(attribute='quote') | sort | first }}
  DIMENSION_ATTRIBUTION: {{ dimension_idx[namespace] | map(attribute='spec') | map(attribute='site') | map(attribute='attribution') | sort | first }}
{%- for o in dimension_idx[namespace] %}
  DIMENSION_LINK_{{ loop.index }}_HREF: {{ o['spec']['link']['href'] }}
  DIMENSION_LINK_{{ loop.index }}_TITLE: {{ o['spec']['link']['title'] }}
{%- endfor %}
  Caddyfile: |-
    {
      admin off
      http_port 65080
      https_port 65443
      debug
    }
    :65443 {
      tls /etc/caddy/tls.crt /etc/caddy/tls.key
      @health {
        path /.well-known/health
      }
      @teapot {
        path /.well-known/teapot
      }
      @default {
        path /*
      }
      route @health {
        respond 200 {
          body "Caddy
    Pod {$K8S_NAMESPACE}\{$K8S_PODNAME}
    Application {$K8S_APP_NAME}
    Component {$K8S_APP_COMPONENT}
    Node {$K8S_NODENAME}"
        }
      }
      route @teapot {
        teapot
      }
      route @default {
        file_server {
          root /var/www/html
        }
      }
    }
    :5800 {
      respond /.well-known/health 200
    }
