apiVersion: traefik.containo.us/v1alpha1
kind: IngressRouteTCP
spec:
  entryPoints:
  - websecure
  routes:
{%- for o in dimension_idx[namespace] | map(attribute='spec') | map(attribute='site') | map(attribute='domainName') | unique | sort %}
  - match: HostSNI(`{{ o }}`)
    services:
    - name: {{ application_service['metadata']['name'] }}
      port: 443
{%- endfor %}
  tls:
    passthrough: true
